<head>
  <script data-ad-client="ca-pub-7060576540390954" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<ion-content>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
    </style>
  <navbar></navbar>
  <div id="wrapper">
  <div id="div1">
    <h1 class="title1">Trade Stocks. Make Money.</h1>
    <h1 class="title2">Earn Bragging Rights</h1>
    <p class="desc">Build your portfolio and react to the<br> 
      markets in real time. Compete against your<br> 
      friends or coworkers to earn your spot at<br> the top of the leaderboards.</p>
  </div>
  <div id="div2">
    <img class="image"src="https://s.yimg.com/ny/api/res/1.2/4c7gNmIqe7mtrLYh7qZRKQ--/YXBwaWQ9aGlnaGxhbmRlcjt3PTY0MDtoPTM2MC4zMg--/https://s.yimg.com/uu/api/res/1.2/Efm_lj_6xPRdc1CyTAcC3Q--~B/aD01NjM7dz0xMDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/the_motley_fool_261/0205f0fdd2ec4dd034996bb9f6ae99a5">
  </div>
</div>
</ion-content>
