.container{
    margin: 3%;
    height: 100%;
}

.login-template{
    display: flex;
    flex-direction: column;
}
input{
    border: 1px solid lightgray;
    // color: black;
    border-radius: 5px;
    margin-bottom: 3%;
}

.header{
    font-size: 23px;
}

.change-template-link{
    margin-bottom: 3%;
}

.submit-btn{
    margin-top: 2%;
}